<!DOCTYPE HTML>
<html>
<head>
  <link href="http://fonts.googleapis.com/css?family=Buda:300" rel="stylesheet" type="text/css" >
  <link rel="stylesheet" href="/static/css/base.css" type="text/css" media="screen" />
  <title>
    {% block title %} putQuest {% endblock %}
  </title>
</head>

<body>
  <header>
    <h1>putQuest</h1>
    <nav>
      {% block topnav %}
      <ul>
          <li><a href="/">Strona główna</a></li>
          <li><a href="/admin">Panel administracyjny</a></li>
      </ul>
      {% endblock %}
    </nav>
  </header>

    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
