<!DOCTYPE HTML>
<html>
<head>
	<link href="http://fonts.googleapis.com/css?family=Buda:300" rel="stylesheet" type="text/css" >
	<link rel="stylesheet" href="{{ STATIC_URL }}css/base.css" type="text/css" media="screen" />
	<title>
	{% block title %} putQuest {% endblock %}
	</title>
</head>

<body>
	<div id="page">
		<div class="header">
			<div class="logo"><a href="/"><h1>putQuest</h1></a></div>
			{% block login %}
			{% endblock %}
			{% block topnav %}
			{% endblock %}
		</div>

		<div id="content">
			{% block content %}{% endblock %}
		</div>
	</div>
</body>
</html>
