body {
    margin: 0;
    padding: 0;
    background: #EFE4BD;
}

header{
    /*background: url("/static/img/header_bg.png") repeat-x left bottom #BAB293;*/
    background: #BAB293;
    margin: 0;
    padding-bottom: .4em;
    float:left;
    width: 100%;
    border-bottom: 1px solid #2B2922;
}
header h1{
    background: url("/static/img/logo.png") no-repeat;
    font-family: 'Buda', serif;
    font-weight: bold;
    color: #2B2922;
    margin: 0;
    padding: 0 0 0 40px;
    display: inline;
    float: left;
}

nav ul {
    list-style:none;
    float: left;
    padding: 0;
    margin: 0 0 0 2em;
}

nav li {
    float: left;
    padding: 0;
    margin: 0;
}

nav a {
    padding: 1em;
    /*margin-top: 2em;*/
    text-decoration: none;
    color: #2B2922;
    border: 1px solid #2B2922;
    background: #A39770;
}

nav a:hover {
    background: #A32500;
}

nav a.selected {
    background: #EFE4BD;
}
