body {
	margin: 0;
	padding: 0;
	background: url("/static/img/body_bg.png") #2B2922;
	font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
}

#page {
	margin: 0 auto 40px;
	max-width: 988px;
	background: #EFE4BD;
}

.header{
	/*background: url("/static/img/header_bg.png") repeat-x left bottom #BAB293;*/
	background: url("/static/img/nav_bottom_line.png") repeat-x bottom left #BAB293;
	margin: 0;
	padding: 0;
	float:left;
	width: 100%;
	/*border-bottom: 1px solid #2B2922;*/
	/*border: 1px solid #2B2922;*/
}
.header h1{
	background: url("/static/img/logo.png") left 50% no-repeat;
	font-family: 'Buda', serif;
	font-weight: bold;
	text-shadow: 0px 2px 2px #A39770;
	color: #2B2922;
	margin: .3em .3em .3em .3em;
	padding: 0 .2em 0 40px;
	min-height: 40px;
	display: block;
	float: left;
}

.logo {
	float: left;
}

.logo a {
	color: inherit;
	text-decoration: inherit;
}

.logo:hover h1{
	color: #A32500;
}

#content {
	font-size: 80%;
	clear: both;
	padding: 1em;
	color: #2B2922;
	text-shadow: 1px 1px 2px #FFFFFF;
}

#content a {
	text-decoration: none;
	color: #2B2922;
	text-shadow: 1px 1px 2px #FFFFFF;
	border-bottom: 1px dotted #2B2922;
}

#content a:hover {
	color: #A32500;
	border-bottom: 1px dotted #A32500;
}

.form_box {
	margin: 1em auto;
	max-width: 60%;
	border: 1px solid #2B2922;
	box-shadow: 2px 2px 4px #2B2922;
}

.form_box h3 {
	background: url("/static/img/tab_top.png") repeat-x top left #A39770;
	background: #A39770;
	margin: 0;
	padding: .5em;
	text-shadow: 0px 2px 2px #BAB293;
}

.form_box form {
	padding-left: 1em;
}

.form_box p {
	padding-left: 1em;
}

.form_box dl {
    padding: 0 1em;
}

.form_box dd {
    padding: 0;
    margin: 0;
}

.form_box input[type="text"], .form_box input[type="password"] {
	border: 1px solid #2B2922;
	padding: .2em;
}

.form_box .error, span.error {
	padding: .5em;
	margin: 1em;
	border-radius: .5em;
	border 1px dashed #FFFFFF;
	color: #FFFFFF;
	text-shadow: 1px 1px 2px #2B2922;
	background: url("/static/img/error.png") no-repeat 5px 50% #A32500;
	padding-left: 28px;
}

.form_box a {
	font-weight: bold;
}

form p {
	margin: 1em;
}

label:after {
  content: ":";
}

.required label:after {
  content: "*:";
}

.accounts_links {
	text-align: right;
	margin: 1em;
}

/*.form_box label:after{
	content: ":";
}*/

th {
    font-weight: normal;
    text-align: left;
}

.form_box p {
	clear: both;
}

.login {
	text-shadow: 0px 1px 1px #A39770;
	color: #2B2922;
	font-size: 80%;
	padding: 5px;
	float: right;
	width: 50%;
	text-align: right;
}

.login a {
	text-decoration: none;
	color: #EFE4BD;
	text-shadow: 1px 1px 3px #2B2922;
	background: #A39770;
	padding: 0 3px 2px 3px;
	border-radius: 3px;
	margin: 0 4px 0 4px;
}

.login a.default {
	font-weight: bold;
}

.login a:hover {
	/*color: #A32500;*/
	/*text-shadow: 1px 1px 1px #2B2922;*/
	background: #A32500;
}


form input[type="submit"] {
    margin: 1em;
}

button, input[type="submit"] {
	border-radius: 0px;
	box-shadow:0px 0px 1px #2B2922;
	color: #2B2922;
	text-shadow: 1px 1px 2px #EFE4BD;
	border: 1px solid #2B2922;
	background:-webkit-gradient(linear, left top, left bottom, from(#EFE4BD), to(#BAB293));
	background:-moz-linear-gradient(top, #EFE4BD, #BAB293);
	padding: 5px;
}

button:hover, input[type="submit"]:hover {
	box-shadow:0px 0px 4px #2B2922;
}

button:active, button:focus, input[type="submit"]:active, input[type="submit"]:focus {
	background:-webkit-gradient(linear, left bottom, left top, from(#EFE4BD), to(#BAB293));
	background:-moz-linear-gradient(bottom, #EFE4BD, #BAB293);
}

button:disabled, input[type="submit"]:disabled {
	color:rgba(0,0,0,0.4);
	text-shadow:1px 1px 0px rgba(255,255,255,0.5);
	background:rgba(220,220,220,1);
}

.nav {
	font-size: 80%;
	width: 100%;
}

.nav ul {
	list-style:none;
	float: right;
	padding: 10px 46px 0 0;
	margin: 0;
}

.nav li {
	float: left;
	padding: 0;
	margin: 0 1px 0 0;
}

.nav a {
	display: block;
	text-decoration: none;
	color: #EFE4BD;
	border: 1px solid #2B2922;
	border-bottom: none;
	background: url("/static/img/tab_top.png") repeat-x top left #A39770;
	padding: 4px 8px 5px 8px;
	margin: 1px 0 1px 0;
	float: left;
	text-shadow: 0px 1px 1px #2B2922;
}

.nav a:hover {
	color: #EFE4BD;
	text-shadow: 0px 1px 2px #2B2922;
	background: url("/static/img/tab_top.png") repeat-x top left #A32500;
}

.nav a.selected {
	color: #2B2922;
	padding: 4px 8px 6px 8px;
	margin: 1px 0 0 0;
	/*    background: url("/static/img/tab_top_current.png") repeat-x top left #EFE4BD;*/
	background: url("/static/img/tab_top.png") repeat-x top left #EFE4BD;
	text-shadow: 0px 1px 1px #A39770;
}

.footer {
	background: #2B2922;
	border-top: 1px solid #2B2922;
	text-align: center;
	font-size: 80%;
	padding-top: 1em;
	color: #A39770;
	text-shadow: -1px -1px 2px #000000;
}

.footer ul {
	float: right;
	display: table-row;
	text-align: center;
	margin: 0 auto;
}

.footer li {
	display: block;
	float: left;
}

.footer p {
	clear: both;
	display: block;
	padding: 0 0 .5em 0;
	margin: 0;
}

.footer a {
	text-decoration: none;
	display: block;
	padding: 0;
	margin: 0 1em;
	color: #A39770;
	text-shadow: -1px -1px 2px #000000;
	margin-bottom: 1px;
}

.footer a:hover {
	border-bottom: 1px dotted #A39770;
	margin-bottom: 0;
}

#content a.action_link {
  font-weight: bold;
	text-decoration: none;
	border: 0px;
	color: #EFE4BD;
	text-shadow: 1px 1px 3px #2B2922;
	background: #A39770;
	padding: 0 3px 2px 3px;
	border-radius: 3px;
	margin: 0 4px 0 4px;
}

#content a.action_link:hover {
	/*color: #A32500;*/
	/*text-shadow: 1px 1px 1px #2B2922;*/
	background: #A32500;
}

.form_box .success_message{
	color: #008D00;
	padding-left: 1em;
}

.notice {
	padding: .5em;
	margin: 1em;
  margin-left: 0;
	border-radius: .5em;
	border 1px dashed #FFFFFF;
	color: #FFFFFF;
	text-shadow: 1px 1px 2px #2B2922;
	background: url("/static/img/notice.png") no-repeat 5px 50% #009F00;
	padding-left: 28px;
  display: inline;
}

.answers .question {
  border-top: 1px dashed #A39770;
}

span.datetime {
  font-weight: bold;
}

.question dl {
  background: #FFFAEE;
  padding: 1em;
}

.question dt {
  font-weight: bold;
}

.question li {
  color: #999999;
}

.question li.chosen {
  color: #000000;
}
