body {
    margin: 0;
    padding: 0;
    background: url("/static/img/body_bg.png") #2B2922;
    font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
}

#page {
	margin: 0 auto 40px;
	max-width: 988px;
    background: #EFE4BD;
}

.header{
    /*background: url("/static/img/header_bg.png") repeat-x left bottom #BAB293;*/
    background: url("/static/img/nav_bottom_line.png") repeat-x bottom left #BAB293;
    margin: 0;
    padding: 0;
    float:left;
    width: 100%;
    /*border-bottom: 1px solid #2B2922;*/
    /*border: 1px solid #2B2922;*/
}
.header h1{
    background: url("/static/img/logo.png") left 50% no-repeat;
    font-family: 'Buda', serif;
    font-weight: bold;
    text-shadow: 0px 2px 2px #A39770;
    color: #2B2922;
    margin: .3em .3em 0 .3em;
    padding: 0 .2em 0 40px;
    min-height: 40px;
    display: block;
    float: left;
}

.content {
}

.login {
    text-shadow: 0px 1px 1px #A39770;
    color: #2B2922;
    font-size: 80%;
	padding: 5px;
	float: right;
}

.nav {
    font-size: 80%;
    width: 100%;
    clear: both;
}

.nav ul {
    list-style:none;
    float: right;
    padding: 10px 46px 0 0;
    margin: 0;
}

.nav li {
    float: left;
    padding: 0;
    margin: 0 1px 0 0;
}

.nav a {
    display: block;
    text-decoration: none;
    color: #2B2922;
    border: 1px solid #2B2922;
    border-bottom: none;
    background: url("/static/img/tab_top.png") repeat-x top left #A39770;
    padding: 4px 8px 5px 8px;
    margin: 1px 0 1px 0;
    float: left;
    text-shadow: 0px 1px 1px #BAB293;
}

.nav a:hover {
	color: #EFE4BD;
    text-shadow: 0px 1px 2px #2B2922;
    background: url("/static/img/tab_top.png") repeat-x top left #A32500;
}

.nav a.selected {
	color: #2B2922;
    padding: 4px 8px 6px 8px;
    margin: 1px 0 0 0;
/*    background: url("/static/img/tab_top_current.png") repeat-x top left #EFE4BD;*/
    background: url("/static/img/tab_top.png") repeat-x top left #EFE4BD;
    text-shadow: 0px 1px 1px #A39770;
}
