body {
  margin: 0;
  padding: 0;
  background-color: #EFE4BD;
  font-family: 'OFL Sorts Mill Goudy TT', serif;
}

h1 {
  font-family: 'OFL Sorts Mill Goudy TT', serif;
  color: #EFE4BD;
  background-color: #2B2922;
  margin-top: 0;
  margin-bottom: 0;
  padding: .5em;
  text-shadow: 0px 1px 1px #000;
}

h2 {
  font-family: 'OFL Sorts Mill Goudy TT', serif;
  font-weight: normal;
}

.header {
  background-color: #A39770;
}

.header p {
  background-color: #A39770;
  margin-top: 0;
  margin-bottom: 0;
  padding: .5em;
	text-shadow: 1px 1px 1px #EFE4BD;
  max-width: 50em;
}

div.question {
  padding: .5em;
  margin-top: 0;
  margin-bottom: 0;
  border-bottom: 1px dotted #A39770;
  max-width: 50em;
}
ul {
  padding: 0;
}

li {
  list-style-type: none;
}

input[type="submit"] {
  padding: 0 .5em;
  margin: .5em;
  font-size: 150%;
  font-family: 'OFL Sorts Mill Goudy TT', serif;
}

.footer {
  font-family: 'OFL Sorts Mill Goudy TT', serif;
  color: #BAB293;
  background-color: #2B2922;
  margin: 0;
  padding: 0;
  text-shadow: 0px 1px 1px #000;
}

.footer p {
  text-align: right;
  margin: 0 .5em;
  padding: .5em .5em;
}

.footer a {
	text-decoration: none;
	color: #FFF;
	text-shadow: -1px -1px 2px #000;
	margin-bottom: 1px;
}

.footer a:hover {
  border-bottom: 1px dotted #A39770;
  margin-bottom: 0;
}

.error_list li {
  display: inline;
  padding-right: .5em;
  padding-bottom: .3em;
  padding-left: 28px;
  padding-top: .6em;
  margin: 1em;
  border-radius: .5em;
  border 1px dashed #FFFFFF;
  color: #FFFFFF;
  text-shadow: 1px 1px 2px #2B2922;
  background: url("/static/img/error.png") no-repeat 5px 50% #A32500;
}

.header p.error {
	font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
	padding: .5em;
	margin: 1em;
	border-radius: .5em;
	border 1px dashed #FFFFFF;
	color: #FFFFFF;
	text-shadow: 1px 1px 2px #2B2922;
	background: url("/static/img/error.png") no-repeat 5px 50% #A32500;
	padding-left: 28px;
	display: inline;
}

/*
#A39770;
#A32500;
#BAB293;
*/
