body {
    margin: 0;
    padding: 0;
}

header{
    background: url("/static/img/header_bg.png") repeat-x left bottom #EFE4BD;
    margin: 0;
    padding: .3em;
    padding-bottom: .4em;
}
header h1{
    background: url("/static/img/logo.png") no-repeat;
    font-family: 'Buda', serif;
    font-weight: bold;
    color: #2B2922;
    margin: 0;
    padding: 0 0 0 40px;
    display: inline;
}

nav ul {
    display: inline;
}

nav li {
    display: inline;
}

nav a {
    text-decoration: none;
    color: #2B2922;
}
