{% extends "base_with_navbar.html" %}
{% load url from future %}
{% load putquest_tags %}

{% block title %}
Zmiana hasła | {{ block.super }}
{% endblock %}

{% block content %}
<div class="form_box">
    <h3>Zmiana hasła</h3>

    <form method="post" action="">
        {% csrf_token %}

        {% show_form form %}

        <input type="submit" value="Zmień hasło" />
    </form>

    <div class="accounts_links">
        <p>Zapomniane hasło? <a href="{% url "pass_reset" %}">Odzyskaj.</a></p>
    </div>
</div>
{% endblock %}
