{% extends "base_with_navbar.html" %}

{% load url from future %}

{% load putquest_tags %}

{% block title %}
Nowe hasło | {{ block.super }}
{% endblock %}

{% block content %}

{% if validlink %}

<div class="form_box">
    <h3>Podaj nowe hasło</h3>

    <p>Podaj dwukrotnie nowe hasło, by można było zweryfikować, czy zostało wpisane poprawnie.</p>

    <form action="" method="post">
        {% csrf_token %}
        {% show_form form %}
        <input type="submit" value="Ustaw hasło" />
    </form>
</div>

{% else %}

<h2>Odzyskiwanie hasła nie powiodło się</h2>

<p>
    Link do odzyskania hasła był niepoprawny, być może dlatego, że został już raz użyty. 
    <a href="{% url "pass_reset" %}">Możesz ponownie zażądać zmiany hasła.</a>
</p>
{% endif %}

{% endblock %}
