{% extends "base_with_navbar.html" %}

{% load url from future %}

{% load putquest_tags %}

{% block title %}
Odzyskiwanie hasła | {{ block.super }}
{% endblock %}

{% block content %}
<div class="form_box">
    <h3>Odzyskiwanie hasła</h3>

    <p>Zapomniałeś hasła? Podaj swój adres e-mail, a prześlemy Ci instrukcję, jak ustawić nowe hasło.</p>

    <form method="post" action="">
        {% csrf_token %}

        {% show_form form %}

        <input type="submit" value="Odzyskaj hasło" />
    </form>

    <div class="accounts_links">
		<p>Nie masz konta? <a href="{% url "register" %}">Zarejestruj się.</a></p>
    </div>
</div>
{% endblock %}
