{% extends 'base_with_navbar.html' %}

{% load url from future %}

{% load tabs %}

{% block topnav %}
{% activetab "home" %}
{{ block.super }}
{% endblock %}

{% block title %}
Strona główna | {{ block.super }}
{% endblock%}

{% block content %}
<div class="quest_list">
<h3>Dostępne ankiety</h3>

{% if quests %}
<table>
{% for quest in quests %}
<tr>
    <td><a href="{% url "questionnaire" quest.pk %}">{{ quest.name }} </a></td>
    <td><a href="{% url "questionnaire_fill" quest.pk %}" class="action_link"> Wypełnij </a></td>
</tr>
{% endfor %}
</table>
{% else %}
<p>Brak ankiet.</p>
{% endif %}
</div>
{% endblock %}
