{% extends 'quest/questionnaire_modify.html' %}
{% load url from future %}

{% load tabs %}

{% block topnav %}
{% activetab "quest_edit" %}
{{ block.super }}
{% endblock %}

{% block title %}
Edycja ankiety | {{ block.super }}
{% endblock %}

{% block form_title %}
Edycja ankiety
{% endblock %}

{% block questions %}
<div class="questions_edit">
    <div class="form_box">
    <h3>Lista pytań</h3>
    {% if questions %}
    <ol>
        {% for question in questions %}
        <li><a href="{% url "question_edit" quest_id=quest.pk question_id=question.pk %}">{{ question.title }}</a></li>
        {% endfor %}
    </ol>
    {% else %}
        <p>Nie dodano jeszcze żadnych pytań.</p>
    {% endif %}
    <p><a href="{% url "question_new" quest_id=quest.pk %}" class="action_link">Dodaj nowe pytanie</a></p>
    </div>

</div>
{% endblock %}
