{% extends 'base_with_navbar.html' %}
{% load url from future %}

{% load tabs %}
{% load putquest_tags %}

{% block title %}
Usuń ankietę | {{ block.super }}
{% endblock %}

{% block content %}
<div class="form_box">
    <h3>Na pewno chcesz usunąć poniższą ankietę?</h3>
    <dl>
        <dt><h4>{{ quest.name}}</h4></dt>
        <dd>
        <p>{{ quest.description }}<p>
        {% with quest.question_set.all as questions %}
        {% if questions %}
        <p>Pytania:</p>
            <ul>
            {% for question in quest.question_set.all %}
                <li> {{ question.title }} </li>
            {% endfor %}
        </ul>
        {% else %}
        <p>Brak pytań.</p>
        {% endif %}
        {% endwith %}
        </dd>
    </dl>
    <form method="post" action="">
        {% csrf_token %}
        <input name="action:delete" type="submit" value="Usuń pytanie" />
        <input name="action:cancel" type="submit" value="Anuluj" />
    </form>
</div>
{% endblock %}
