{% extends 'base_with_navbar.html' %}

{% load pluralize_pl %}
{% load putquest_tags %}

{% block title %}
Wypełniono: {{ quest.name }} | {{ block.super }}
{% endblock %}

{% block content %}
  <div class="quest_info">
    <h2>{{ quest.name }}</h2>

    {% if request.user == answer_set.user %}
    <p class="notice">
      Ankieta została już wypełniona <span class="datetime">{{ answer_set.created_at }}</span>.
    </p>
    {% else %}
    <p>
    Ankietę wypełniono: <span class="datetime">{{ answer_set.created_at }}</span>.
    </p>
    {% endif %}

    {% if quest.description %}
    <p class="quest_description">{{ quest.description }}</p>
    {% endif %}
    {% with qcount=question_parts|length %}
    <p>Ankieta zawiera {{ qcount }} {{ qcount|pluralize_pl:"pytanie,pytań,pytania" }}.</p>
    {% endwith %}
  </div>
  <div class="answers">
    {% for question, answer in question_parts %}
    <div class="question">
      <h3>{{ forloop.counter }}. {{ question.title|capfirst }}</h3>
      <p>{{ question.text }}</p>
      {% if question.type == 'open' %}
      <dl>
        <dt>Odpowiedź:</dt>
        <dd>{{ answer.text }}<dd>
      </dl>
      {% else %}
      <dl>
        {% if question.type == 'single_selection' %}
          <dt>Wybrana odpowiedź:</dt>
        {% else %}
          <dt>Wybrane odpowiedzi:</dt>
        {% endif %}
        <dd>
          <ul>
            {% for choice in question.questionchoice_set.all %}
            {% if choice in answer.choices.all %}
            <li class="chosen">{{ choice }}</li>
            {% else %}
            <li>{{ choice }}</li>
            {% endif %}
            {% endfor %}
          </ul>
        </dd>
      </dl>
      {% endif %}

    </div>
    {% endfor %}
  </div>
{% endblock %}
